.menu__nome {

    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.671);
    text-shadow: 0.1rem 0.2rem #000000;
    text-align: center;
    padding: 1rem;
   /* animation: go-back 1s infinite alternate; */
}

.menu__nome::before {
    color: aqua;
    content: "< ";
}

.menu__nome::after {
    color: aqua;
    content: " >";
}

.menu__nome:hover{

    color: #a6c9e8;
}